<h1><%=title%></h1>

<!-- Kartik tu yaha changes kar sakta hai tereko agar koi bootstrap configure karna ho fir-->
<div class="container">
        <table border='1'>
                <tr>
                    <td>Branch ID</td>
                    <td>Starting Year</td>
                    <td>Branch Name</td>
                </tr>
            <%
            if(batchData.length!=0){
            batchData.forEach(data => {
            %>
                <tr>
                    <td><%=data.branch_id %></td>
                    <td><%=data.start_year %></td>
                    <td><%=data.batch_name %></td>
                    
                </tr>
            <% }) %>

            <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>

        </table>
</div>