<h1>College Management System</h1>
<div class="container">
    <div class="m-5">
        <a class="btn btn-outline-primary btn-lg" href="student" role="button">Student</a>
        <a class="btn btn-outline-primary btn-lg" href="admission" role="button">Admission</a>
        <a class="btn btn-outline-primary btn-lg" href="batch" role="button">Batch</a>
        <a class="btn btn-outline-primary btn-lg" href="branch" role="button">Branch</a>
        <a class="btn btn-outline-primary btn-lg" href="lecturer" role="button">Lecturer</a>
        <a class="btn btn-outline-primary btn-lg" href="lectures" role="button">Lectures</a>
        <a class="btn btn-outline-primary btn-lg" href="subject" role="button">Subject</a>
        <a class="btn btn-outline-primary btn-lg" href="timetable" role="button">Timetable</a>
        
    </div>
</div>