<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
<h1 class="navbar-brand mx-auto " >Querying</h1>
</nav>
</header>
<div class="form1" style="margin-top: 20%; margin-left:30%;">
    
<form action="/query" method="POST">
    <label>Enter query:</label>
    <input id="query" type="text" name="querytext" placeholder="enter your query">
    <input type="submit">
</form>
<div>
<div class="container"></div>
    <div class="response">
        <table border='1'>
        <%
            if(data.length!=0){
            data.forEach(item => {

                const v = Object.values(item);
            %>
                <tr>
                   <% for(var i=0;i<v.length;i++){ %>
                       <td><%=v[i]%></td>
                    <%}%>
                </tr>
            <% }) %>

            <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
        </table>
        <a class="btn btn-outline-secondary btn-lg" href="/" role="button" style="margin-left: 45%; background-color:#EB6864; color: #ffffff; margin-top:5%" >Home</a>
    </div>
</div>